
<div class="container">
  <div class="offset-sm-3 col-sm-6">    
    <br/>
    <h6>Forgot your password?</h6>
    <br/>
    <div [hidden]="displaySuccess">
      <p>Enter your username. We'll email further instructions.</p>
      <form #forgotpasswordform="ngForm" (ngSubmit)="onSubmit(forgotpasswordform)">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" required name="username" ngModel>
        </div>
        <button type="submit" class="btn btn-primary col" [disabled]="disableButton" >Reset Password</button>
      </form>
      <button type="button" class="btn btn-link col" [routerLink]="['/login']">Login</button>
    </div>
    <div [hidden]="!displaySuccess">
      We have sent an email. Please follow instructions in the email.
    </div>
  </div>
</div>
