
<div class="container">
    <div class="offset-sm-3 col-sm-6">    
      <br/>
      <h6>Add hospital</h6>
      <br/>
      <p>Enter hospital number and name below. You should have this information from the hospital.</p>
      <form #addhospitalform="ngForm" (ngSubmit)="onSubmit(addhospitalform)">
        <div class="form-group">
          <input type="text" class="form-control" id="hospitalNumber" placeholder="Hospital number" required name="number" ngModel>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="hospitalName" placeholder="Hospital name" required name="name" ngModel>
          </div>
        <button type="submit" class="btn btn-primary col">Add Hospital</button>
      </form>
      <button type="button" class="btn btn-link col" [routerLink]="['/main']">Back</button>
    </div>
  </div>
  